<ion-toolbar *ngIf="data$ | async as data">
    <ion-buttons slot="start">
        <ion-button>
            <ion-icon
                size="medium"
                color="primary"
                name="mail-outline"></ion-icon
        ></ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center"> Contact Form </ion-title>
    <ion-buttons
        slot="end"
        class="ion-padding">
        <ion-text color="primary">Devlux Lab</ion-text>
    </ion-buttons>
    <ion-progress-bar
        type="indeterminate"
        *ngIf="data.isSubmitting"></ion-progress-bar>
</ion-toolbar>

<ion-content class="ion-padding">
    <form
        [formGroup]="form"
        (ngSubmit)="onSubmit()">
        <ion-grid>
            <ion-row>
                <ion-col
                    size-md="4"
                    offset-md="2">
                    <ion-item>
                        <ion-input
                            formControlName="firstName"
                            color="primary"
                            labelPlacement="floating"
                            [value]="$any(form)?.controls['firstName'].value">
                            <div slot="label">First Name</div>
                        </ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size-md="4">
                    <ion-item>
                        <ion-input
                            formControlName="lastName"
                            labelPlacement="floating"
                            [value]="$any(form)?.controls['lastName'].value">
                            <div slot="label">Last Name</div>
                        </ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid>
            <ion-row>
                <ion-col
                    size-md="4"
                    offset-md="2">
                    <ion-item>
                        <ion-input
                            labelPlacement="floating"
                            formControlName="email"
                            [value]="$any(form)?.controls['email'].value">
                            <div slot="label">Email</div>
                        </ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size-md="4">
                    <ion-item>
                        <ion-input
                            labelPlacement="floating"
                            formControlName="phoneNumber"
                            [value]="$any(form)?.controls['phoneNumber'].value">
                            <div slot="label">Phone Number</div>
                        </ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid>
            <ion-row>
                <ion-col
                    size-md="8"
                    offset-md="2">
                    <ion-item>
                        <ion-textarea
                            formControlName="message"
                            label="Your Message"
                            placeholder="Type something here"></ion-textarea>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid>
            <ion-row>
                <ion-col
                    size-md="8"
                    offset-md="2">
                    <ion-button
                        [disabled]="form.invalid"
                        type="submit"
                        color="primary">
                        Send Message
                    </ion-button>
                    <ion-button
                        (click)="clearForm()"
                        color="danger"
                        fill="outline">
                        <ion-icon
                            size="small"
                            slot="icon-only"
                            name="trash-outline"></ion-icon>
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>
